<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<!-- DataSource in Spring.xml -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		
		<property name="url"
			value="jdbc:derby://localhost:1527/myeclipse">
		</property>
		<property name="username" value="classiccars"></property>
		<property name="password" value="myeclipse"></property>
		
	</bean>
	
	
	<!-- SessionFactory in Spring.xml -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.DerbyDialect
				</prop>
			</props>
		</property>
		
		<property name="mappingResources">
			<list>
				<value>com/adiwood/entity/Users.hbm.xml</value>
				<value>com/adiwood/entity/Continentss.hbm.xml</value>
				<value>com/adiwood/entity/Areas.hbm.xml</value>
				<value>com/adiwood/entity/States.hbm.xml</value>
			</list>
		</property>
		
	</bean>

	
	<!-- Dao in Spring.xml -->
	<bean id="UsersDAO" class="com.adiwood.dao.implement.DaoUserImplement">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="ContinentssDAO"
		class="com.adiwood.dao.implement.DaoContinentsImplement">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="StatesDAO" class="com.adiwood.dao.implement.DaoStatesImplement">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="AreasDAO" class="com.adiwood.dao.implement.DaoAreasImplement">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	
	<!-- Service in Spring.xml -->
	<bean id="UserService" class="com.adiwood.service.implement.ServiceUserImplement">
		<property name="ud">
			<ref bean="UsersDAO"/>
		</property>
	</bean>
	
	<bean id="ContinentsService" class="com.adiwood.service.implement.ServiceContinentsImplement">
		<property name="cd">
			<ref bean="ContinentssDAO"/>
		</property>
	</bean>
	
	<bean id="StatesService" class="com.adiwood.service.implement.ServiceStatesImplement">
		<property name="sd">
			<ref bean="StatesDAO"/>
		</property>
	</bean>
	
	<bean id="AreasService" class="com.adiwood.service.implement.ServiceAreasImplement">
		<property name="ad">
			<ref bean="AreasDAO"/>
		</property>
	</bean>
	
	
	<!-- Action in Spring.xml -->
	<bean id="UserAction" class="com.adiwood.action.ActionUser">
		<property name="us">
			<ref bean="UserService"/>
		</property>
	</bean>
	
	<bean id="ContinentsAction" class="com.adiwood.action.ActionContinents">
		<property name="cs">
			<ref bean="ContinentsService"/>
		</property>
	</bean>
	
	<bean id="StatesAction" class="com.adiwood.action.ActionStates">
		<property name="ss">
			<ref bean="StatesService"/>
		</property>
	</bean>
	
	<bean id="AreasAction" class="com.adiwood.action.ActionAreas">
		<property name="as">
			<ref bean="AreasService"/>
		</property>
	</bean>

	</beans>